# Python Sanal Ortamı
backend/venv/

# Python Cache dosyaları
__pycache__/
*.py[cod]
*$py.class

# Büyük Veri Dosyaları (Modeli yeniden eğitmek için gerekli olabilirler,
# ancak repoya eklemek genellikle önerilmez. README'de belirtilebilir.)
backend/data/ratings.csv
backend/data/genome-scores.csv
# backend/data/tags.csv # Bu da oldukça büyük (81MB), isteğe bağlı.

# Eğitilmiş Model Dosyaları
backend/models/*.joblib

# Node.js Bağımlılıkları
frontend/node_modules/

# Next.js Build Çıktıları ve Cache
frontend/.next/
frontend/out/
frontend/.env*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

# IDE/Editör Dosyaları (Örnekler)
.vscode/
.idea/
*.swp

# Environment variables
.env
*.env
.env.* 