@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.favorites-item,
.watched-item {
  margin-left: 10px; /* Yazıyı sağa kaydırır */
}

.star {
  font-size: 2rem;
  cursor: pointer;
  color: gray;
}

.star:hover,
.star.active {
  color: gold;
}

/* StarRating hizalaması için */
.star-rating-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn-favorite {
  background-color: #ff0000; /* Kırmızı arka plan */
  color: white; /* Yazı rengi beyaz */
}

.btn-favorite:hover {
  background-color: #cc0000; /* Hover'da daha koyu kırmızı */
}

.favorites-list {
  margin-top: 1.5rem; /* Yukarıdan biraz boşluk ekler */
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/background.jpg'); /* Arka plan resminizi çağırır */
  background-size: cover; /* Resmi tam genişliğe veya yüksekliğe sığdırır */
  background-repeat: repeat-y; /* Yalnızca dikey olarak tekrar eder */
  background-position: center; /* Resmi yatayda ortalar */
  background-attachment: fixed; /* Arka plan kaydırma ile hareket etmez */
  min-height: 100vh; /* Minimum ekran yüksekliği */
}







